header{
    .header{
        padding-top: 50px;
        @include mq('tablet-wide', max){
          padding-top: 36px;
        }
        @include mq('phablet', max){
            padding-top: 24px;
            display: flex;
            justify-content: space-between;
        }
        .header-nav{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            nav{
                width: 80%;
                z-index: 999;
                @include mq('desktop', max){
                    width: 80%;
                }
                @include mq('tablet-wide', max){
                  display: none;
                }
                @include mq('phablet', max){
                    display: none;
                }
                &::after{
                    position: absolute;
                    height: 3px;
                    width: 972px;
                    background: #1B75BC;
                    content: "";
                    display: block;
                    @include mq('desktop-wide'){
                      width: 1050px;
                    }
                    @include mq('desktop', max){
                        width: 790px;
                    }

                }
                ul{
                    display: flex;
                    list-style: none;
                    align-items: center;
                    justify-content: space-between;
                    padding-left: 0;
                    ul:nth-child(1){
                        margin-left: 0;
                        padding-left: 0;
                    }
                    li{
                        a{
                            font-size: 20px;
                            line-height: 19px;
                            color: #1B75BC;
                            padding-bottom: 14px;
                            @include mq('desktop', max){
                                font-size: 16px;
                            }
                            &:hover{
                                border-bottom: 8px solid #1B75BC;
                            }
                            
                        }
                        a.active{
                            border-bottom: 8px solid #1B75BC;
                        }
                    }
                    .nav-link{
                        position: relative;
                        display: inline-block;
                        cursor: pointer;
                        z-index: 99;
                        padding: 0;
                        &::after {
                        content: "";
                        width: 100%;
                        height: 22px;
                        left: 0;
                        top: 0;
                        position: absolute;
                        z-index: 0;

                        }
                        a{
                            font-size: 20px;
                            line-height: 19px;
                            color: #1B75BC;
                            padding-bottom: 14px;
                            &:hover{
                                border-bottom: 8px solid #1B75BC;
                            }
                        }
                        
                        &-item{
                            display: grid;
                            flex-direction: column;
                            position: absolute;
                            left: 0px;
                            top: 40px;
                            width: 300px;
                            opacity: 0;
                            visibility: hidden;
                            transition: 0.2s;
                            @include mq("tablet", max) {
                                left: -10px;
                            }
                            a{
                                font-size: 15px;
                                line-height: 25px;
                                color: #1B75BC;
                                opacity: 0.9;
                                width: 100%;
                                padding-bottom: 0 !important;
                                border-bottom: 0 !important;
                                &:hover{
                                    border-bottom: none;
                                }
                            }
                        }
                        &:hover {
                            .nav-link-item{
                              top: 45px;
                              opacity: 1;
                              visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
}




#nav-icon1 {
    width: 50px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    top: 3px;
    visibility: visible;
    cursor: pointer;
    z-index: 99999;
    z-index: 999999;
    padding-right: 45px;
    position: fixed;
    right: 0;
    top: 10px;
    @include mq('desktop-wide', max){
      display: none;
    }
    @include mq('tablet-wide', max){
        display: block;
        background: #fff;
    }
    @include mq('phablet', max){
      display: block;
      border-radius: 6px;
      text-align: center;
      color: #1B75BC;
      background: #fff;
    }
  }
  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 9px;
    opacity: 0;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    color: #1B75BC;
    @include mq('desktop-wide', max){
      opacity: 0;
    }
    @include mq('tablet-wide', max){
      opacity: 1;
      position: fixed;
      top:10px;
      left: 300px;
    }
    @include mq('phablet', max){
      opacity: 1;
    }
  }
  #nav-icon1 span:nth-child(1) {
    top: 14px;
    width: 35px;
    left: 7px;
    background-color: #1B75BC;
  }
  #nav-icon1 span:nth-child(2) {
    top: 18px;
    display: none;
    background-color: #1B75BC;
    
  }
  #nav-icon1 span:nth-child(3) {
    top: 25px;
    width: 35px;
    left: 7px;
    background-color: #1B75BC;
    
  }
  #nav-icon1.open span:nth-child(1) {
    top: 22px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  #nav-icon1.open span:nth-child(3) {
    top: 22px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .hamburger-menu.active{
    opacity: 1;
    visibility: visible;
    top: 0;
    padding:0px  10px;
    color: #fff;
    height: 100vh;
    background-image: url("../img/back-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    z-index: 99;
    position: fixed;
    @include mq('tablet-wide', max){
      z-index: 99999;
    }
    @include mq('phablet', max){
    }
    .bar-menu{
      display: block;
      flex-direction: column;
      margin-top: 40px;
            nav{
                width: 100%;
                z-index: 999;
                ul{
                    display: grid;
                    list-style: none;
                    padding-left: 0;
                    text-align: center;
                    ul:nth-child(1){
                        margin-left: 0;
                        padding-left: 0;
                    }
                    li{
                        margin-bottom: 10px;
                        a{
                            font-size: 20px;
                            line-height: 19px;
                            color: #fff;
                            padding-bottom: 16px;
                            transition: none;
                            @include mq('tablet-wide', max){
                              font-size: 28px;
                              line-height: 35px;
                            }
                            @include mq('phablet', max){
                              font-size: 18px;
                          }
                            @include mq('phone', max){
                                font-size: 18px;
                            }
                            &:hover{
                                border-bottom: 8px solid #fff;
                            }
                        }
                    }
                }
            }
            .header-search {
                z-index: 999;
                display: flex;
                margin-left: auto;
                justify-content: right;
                width: 25%;
                margin-top: 350px;
                @include mq('tablet-wide',max){
                  width: 45%;
                  margin-top: 130px;
                }
                @include mq('phablet', max){
                    width: 100%;
                    margin-top: 10px;
                }
                .lang {
                  position: relative;
                  display: inline-block;
                  cursor: pointer;
                  margin-right: 30px;
                  z-index: 99;
                  &::after {
                    content: "";
                    width: 100%;
                    height: 40px;
                    left: 0;
                    top: 0;
                    position: absolute;
                    z-index: 0;
                  }
                  span {
                    font-size: 18px;
                    color: #fff;
                  }
                  &-list {
                    position: absolute;
                    width: 125px;
                    left: -25px;
                    top: 42px;
                    background: #ffffff;
                    box-shadow: 0px 15px 15px rgba(34, 139, 205, 0.15);
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.2s;
                    border-radius: 10px;
                    @include mq("tablet", max) {
                      left: -10px;
                    }
                    a {
                      font-size: 14px;
                      padding: 9px 25px;
                      display: block;
                      max-width: 100%;
                      color: #000;
                      @include mq("tablet", max) {
                        padding-left: 13px;
                        padding-right: 13px;
                      }
                      &:hover {
                        color: #fff;
                        background-color: #1b75bc;
                        opacity: 0.6;
                      }
                    }
                  }
                  &:hover {
                    .lang-list {
                      top: 28px;
                      opacity: 1;
                      visibility: visible;
                    }
                  }
                }
                .btn-group {
                  cursor: pointer;
                  .form-control {
                    background-color: unset;
                    outline: unset;
                    border-bottom: 2px solid #fff !important;
                    border: none;
                    border-radius: unset;
                    color: #fff;
                    font-size: 17px;
                    margin-top: -18px;
                  }
                  i {
                    z-index: 999;
                  }
                  .fas {
                    z-index: 9999;
                  }
                  .svg-inline--fa.fa-w-16 {
                    width: 1em;
                    color: #fff;
                  }
                }
              }
        }
    }
  .hamburger-menu{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
  }