.tab-sec{
    margin-top: 50px;
    .nav{
        padding-left: 0;
        display: flex;
        width: 100%;
        height: 36px;
        @include mq('desktop', max){
            flex-wrap: inherit;
            overflow-x: overlay;
        }
        border-bottom: 1px solid #003056;
        .nav-item{
            .nav-link{
                font-weight: normal;
                font-size: 15px;
                line-height: 14px;
                color: #003056;
                padding: 0;
                margin-right: 16px;
                border: none;
                &.active{
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 17px;
                    text-transform: uppercase;
                    color: #003056;
                    padding-bottom: 13px;
                    border-bottom: 8px solid  #1b75bc;
                    
                }
            }
        }
    }
    .tab-content{
        .tab-pane{
            padding-top: 100px;
            .left-map-contact{
                .title{
                    margin-bottom: 50px;
                    h1{
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 25px;
                        text-transform: uppercase;
                        color: #003056;
                    }
                }
                .adress{
                    p{
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 25px;
                        color: #003056;
                        margin-bottom: 30px;
                    }
                }
                .brand{
                    img{
                        object-fit: contain;
                    }
                }
                .new-link{
                    margin-top: 30px;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 19px;
                    text-transform: uppercase;
                    color: #1B75BC;

                }
            }
            .right-map-contact{
                img{
                    width: 100%;
                    padding-top: 50px;
                }
            }
        }
    }
}

.accordion-tabs{
        width: 100%;
        height: 36px;
        @include mq('desktop', max){
            flex-wrap: inherit;
            overflow-x: overlay;
        }
        border-bottom: 1px solid #003056;
}


.accordion-tab{
  z-index: 9999;
  font-weight: normal;
  font-size: 15px;
  line-height: 14px;
  color: #003056;
  padding: 0;
  margin-right: 16px;
  border: none;
  cursor: pointer;
}
.accordion-active{
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  text-transform: uppercase;
  color: #003056;
  padding-bottom: 13px;
  border-bottom: 8px solid  #1b75bc;
  cursor: pointer;
}





.accordion {
  z-index: 9999;
  p{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #003056;
    text-transform: capitalize;
  }
  &-tabs{
        padding-left: 0;
        display: flex;
        width: 100%;
        height: 36px;
        padding: 0 !important;
        @include mq('desktop', max){
            flex-wrap: inherit;
            overflow-x: overlay;
        }
        @include mq('phablet', max){
          height: 50px;
        }
        border-bottom: 1px solid #003056;
    &-tab{
      font-weight: normal;
      font-size: 15px;
      line-height: 14px;
      color: #003056;
      padding: 0 !important;
      margin-right: 16px;
      border: none !important;
      &.active{
          font-weight: bold;
          font-size: 18px;
          line-height: 17px;
          text-transform: uppercase;
          color: #003056;
          padding-bottom: 13px;
          border-bottom: 8px solid  #1b75bc;
          border: none;
      }
    }
  }
  

  &-item {
    background: unset;
    &__label {
      z-index: 9999;
      margin: 0;
      cursor: pointer;
      transition: padding .2s ease;
      position: relative;
      display: flex;
      margin-top: 100px;
      .left-map-contact{
        .title{
            margin-bottom: 50px;
            h1{
                font-weight: bold;
                font-size: 24px;
                line-height: 25px;
                text-transform: uppercase;
                color: #003056;
            }
        }
        .adress{
            p{
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                color: #003056;
                margin-bottom: 30px;
            }
        }
        .brand{
            img{
                object-fit: contain;
            }
        }
        .new-link{
            margin-top: 30px;
            font-weight: bold;
            font-size: 15px;
            line-height: 19px;
            text-transform: uppercase;
            color: #1B75BC;

        }
    }
    .right-map-contact{
        img{
            width: 100%;
            padding-top: 50px;
        }
    }
    }

    &__container {
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition:

        padding .2s ease,
        opacity .5s .15s ease;
    }
  }

  &-active {
    .accordion-item {
      &__label {
        padding-bottom: 0;
        cursor: inherit;
        p{
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;
          color: #003056;
          text-transform: capitalize;
        }
        &:hover {
          background: none;
        }

        &:after {
          opacity: 0;
        }
      }

      &__container {
        height: auto;
        opacity: 1;

        p, h1, h2, h3, h4, h5, h6 {
          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

      }
    }
  }
}


  .accordion-item {
    display: none;
    border: none;
    &__label, &__container {
      padding: 0;
      transition: inherit;
      p{
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #003056;
        text-transform: capitalize;
      }
    }
    &__label {
      margin-bottom: 1.5rem;
    }
    &.accordion-active {
      display: block;
      .accordion-item__container {
        padding: 0;
      }
    }
  }



// ignore
* {
  box-sizing: border-box;
}


.accordion {
  z-index: 9999 !important;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  margin-top: 100px;
  p{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #003056;
    text-transform: capitalize;
  }
}




.modal{
  .modal-body{
    .form-text {
      font-size: 12px;
      line-height: 11px;
      color: rgba(0, 0, 0, 0.54);
      margin-bottom: 20px;
    }
    .form-control {
      background: #ecf7ff;
      border-radius: 4px 4px 0px 0px;
      border-bottom: 1px solid #1b75bc;
      font-size: 14px;
      line-height: 15px;
      color: rgba(0, 0, 0, 0.87);
      outline: none !important;
      height: 56px !important;
      &::placeholder {
        font-size: 16px;
        line-height: 15px;
        color: rgba(0, 0, 0, 0.87);
      }
    }
    label {
      font-weight: normal;
      font-size: 12px;
      line-height: 11px;
      display: flex;
      align-items: center;
      color: #4ab1e4;
      margin-top: 20px;
    }
    .btn {
      font-family: 'Gotham Pro';
      display: inline-block;
      padding: 0 0 0 10px;
      text-transform: capitalize;
      font-weight: bold;
      font-size: 13px;
      height: 48px;
      line-height: 19px;
      color: #1b75bc;
      letter-spacing: .15rem;
      transition: all .3s;
      position: relative;
      overflow: hidden;
      z-index: 1;
      border: 1px solid #1b75bc;
      span {
          background: #1b75bc;
          border-radius: 0px 5px 5px 0px;
          padding: 18px;
          font-size: 12px;
          margin-left: 33px;
          font-weight: bold;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color:#1b75bc;
        transition: all .3s;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
    }
    form{
      width: 100%;
    }
  }
  
}