<footer>
    <div class="container">
        <div class="footer-top">
            <div class="footer-left d-lg-block">
                <div class="footer-title">
                    <h1>Благодарим вас за интерес</h1>
                </div>
                <div class="footer-block">
                    <h2>к нашей компании!</h2>
                    <p>Мы будем рады ответить на любые Ваши вопросы и обсудить <br>
                        возможности сотрудничества. Для того, чтобы начать работать <br>
                        с нами, заполните регистрационную анкету, и наш Менеджер <br>
                        свяжется с Вами.</p>
                    <a href="#" class="btn">Оставить заявку
                        <span><img src="img/chevron-right.svg" alt=""></span>
                    </a>
                </div>
            </div>
            <div class="footer-right d-lg-block">
                <div class="footer-link">
                    <ul>
                        <li>
                            <a href="index.html">
                                Главная
                            </a>
                        </li>
                        <li>
                            <a href="about_us.html">
                                О компании
                            </a>
                        </li>
                        <li>
                            <a href="product-first.html">
                                Продукция
                            </a>
                        </li>
                        <li>
                            <a href="pro-solution.html">
                                Продукты и решения
                            </a>
                        </li>
                        <li>
                            <a href="contact.html">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-map">
                    <a href="#">Карта офисов</a>
                </div>
            </div>
        </div>
        <div class="footer-back">
            <img src="img/global2.png" alt="#">
        </div>
        <div class="footer-slide">
            <div class="swiper-container mySwiper1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <ul class="d-block">
                            <li><a href="#">США <br>
                                    Головной офис</a></li>
                            <div>
                                <p>345 Highway 9 South, suite # 377 </p>
                                <p>Manalapan, NJ 07726</p>
                                <p>Тел.: (732) 252-98-19</p>
                                <p>E-mail: info@abrisdc.com</p>
                            </div>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="d-block">
                            <li><a href="#">США <br>
                                    Головной офис</a></li>
                            <div>
                                <p>345 Highway 9 South, suite # 377 </p>
                                <p>Manalapan, NJ 07726</p>
                                <p>Тел.: (732) 252-98-19</p>
                                <p>E-mail: info@abrisdc.com</p>
                            </div>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="d-block">
                            <li><a href="#">США <br>
                                    Головной офис</a></li>
                            <div>
                                <p>345 Highway 9 South, suite # 377 </p>
                                <p>Manalapan, NJ 07726</p>
                                <p>Тел.: (732) 252-98-19</p>
                                <p>E-mail: info@abrisdc.com</p>
                            </div>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="d-block">
                            <li><a href="#">США <br>
                                    Головной офис</a></li>
                            <div>
                                <p>345 Highway 9 South, suite # 377 </p>
                                <p>Manalapan, NJ 07726</p>
                                <p>Тел.: (732) 252-98-19</p>
                                <p>E-mail: info@abrisdc.com</p>
                            </div>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="d-block">
                            <li><a href="#">США <br>
                                    Головной офис</a></li>
                            <div>
                                <p>345 Highway 9 South, suite # 377 </p>
                                <p>Manalapan, NJ 07726</p>
                                <p>Тел.: (732) 252-98-19</p>
                                <p>E-mail: info@abrisdc.com</p>
                            </div>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="d-block">
                            <li><a href="#">США <br>
                                    Головной офис</a></li>
                            <div>
                                <p>345 Highway 9 South, suite # 377 </p>
                                <p>Manalapan, NJ 07726</p>
                                <p>Тел.: (732) 252-98-19</p>
                                <p>E-mail: info@abrisdc.com</p>
                            </div>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="d-block">
                            <li><a href="#">США <br>
                                    Головной офис</a></li>
                            <div>
                                <p>345 Highway 9 South, suite # 377 </p>
                                <p>Manalapan, NJ 07726</p>
                                <p>Тел.: (732) 252-98-19</p>
                                <p>E-mail: info@abrisdc.com</p>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </div>
</footer>


































<script src="../libs/wowjs/wow.min.js"></script>
<script src="../libs/swiper/swiper-bundle.min.js"></script>
<script src="../libs/popper/popper.min.js"></script>
<script src="../libs/jquery/jquery.min.js"></script>
<script src="../libs/jquery.maskedinput/jquery.maskedinput.min.js"></script>
<script src="../libs/fontawesome/js/all.js"></script>
<script src="../libs/fancybox/jquery.fancybox.min.js"></script>
<script src="../libs/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="../libs/slick/slick.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="js/main.min.js"></script>