<footer>
    <div class="container">
        <div class="footer-top">
            <div class="footer-left d-lg-block">
                <div class="footer-title">
                    <h1>Благодарим вас за интерес</h1>
                </div>
                <div class="footer-block">
                    <h2>к нашей компании!</h2>
                    <p>Мы будем рады ответить на любые Ваши вопросы и обсудить <br>
                        возможности сотрудничества. Для того, чтобы начать работать <br>
                        с нами, заполните регистрационную анкету, и наш Менеджер <br>
                        свяжется с Вами.</p>
                    <button type="button" data-toggle="modal" data-target="#myModal1" class="btn"
                        style="z-index: 99999;">Оставить заявку
                        <span><img src="img/chevron-right.svg" alt=""></span>
                    </button>
                </div>
            </div>
            <div class="footer-right d-lg-block">
                <div class="footer-link">
                    <ul>
                        <li>
                            <a href="index.html">
                                Главная
                            </a>
                        </li>
                        <li>
                            <a href="about_us.html">
                                О компании
                            </a>
                        </li>
                        <li>
                            <a href="product-first.html">
                                Продукция
                            </a>
                        </li>
                        <li>
                            <a href="pro-solution.html">
                                Продукты и решения
                            </a>
                        </li>
                        <li>
                            <a href="contact.html">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-map">
                    <a href="#">Карта офисов</a>
                </div>
            </div>
        </div>
        <div class="footer-back">
            <img src="img/world-unscreen.gif" alt="globus">
        </div>
        <section class="accordion">
            <section class="accordion-tabs">
                <a class="accordion-tab accordion-active" data-actab-group="0" data-actab-id="1">США</a>
                <a class="accordion-tab" data-actab-group="0" data-actab-id="2">Азербайджан</a>
                <a class="accordion-tab" data-actab-group="0" data-actab-id="3">Армения</a>
                <a class="accordion-tab" data-actab-group="0" data-actab-id="4">Беларусь</a>
                <a class="accordion-tab" data-actab-group="0" data-actab-id="5">Грузия</a>
                <a class="accordion-tab" data-actab-group="0" data-actab-id="6">Кыргызстан</a>
                <a class="accordion-tab" data-actab-group="0" data-actab-id="7">Монголия</a>
                <a class="accordion-tab" data-actab-group="0" data-actab-id="8">Таджикистан</a>
                <a class="accordion-tab" data-actab-group="0" data-actab-id="9">Туркменистан</a>
                <a class="accordion-tab" data-actab-group="0" data-actab-id="10">Узбекистан</a>
            </section>
            <section class="accordion-content">
                <article class="accordion-item accordion-active" data-actab-group="0" data-actab-id="1">
                    <div class="accordion-item__label row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="left-map-contact">
                                <div class="title">
                                    <h6>Гловной офис</h6>
                                </div>
                                <div class="adress">
                                    <p>345 Highway 9 South, suite # 377
                                        Manalapan, NJ 07726
                                        Тел.: (732) 252-98-19
                                        E-mail: info@abrisdc.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="accordion-item" data-actab-group="0" data-actab-id="2">
                    <h4 class="accordion-item__label">Tab 2</h4>

                </article>
                <article class="accordion-item" data-actab-group="0" data-actab-id="3">
                    <h4 class="accordion-item__label">Tab 3</h4>

                </article>
                <article class="accordion-item" data-actab-group="0" data-actab-id="4">
                    <h4 class="accordion-item__label">Tab 4</h4>

                </article>
                <article class="accordion-item" data-actab-group="0" data-actab-id="5">
                    <h4 class="accordion-item__label">Tab 5</h4>

                </article>
                <article class="accordion-item" data-actab-group="0" data-actab-id="6">
                    <h4 class="accordion-item__label">Tab 2</h4>

                </article>
                <article class="accordion-item" data-actab-group="0" data-actab-id="7">
                    <h4 class="accordion-item__label">Tab 3</h4>

                </article>
                <article class="accordion-item" data-actab-group="0" data-actab-id="8">
                    <h4 class="accordion-item__label">Tab 4</h4>

                </article>
                <article class="accordion-item" data-actab-group="0" data-actab-id="9">
                    <h4 class="accordion-item__label">Tab 5</h4>

                </article>
                <article class="accordion-item" data-actab-group="0" data-actab-id="10">
                    <h4 class="accordion-item__label">Tab 4</h4>

                </article>
            </section>
        </section>
    </div>

    <div class="modal fade" id="myModal1" style="z-index: 99999;">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Заявка</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form class="">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-floating">
                                    <label for="nameId">Имя</label>
                                    <input type="name" class="form-control" id="nameId" placeholder="Имя*" required>
                                    <div id="nameId" class="form-text">Введите свое имя</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-floating">
                                    <label for="floatingPassword">Фамилия</label>
                                    <input type="name" class="form-control" id="nameId" placeholder="Фамилия*" required>
                                    <div id="emailHelp" class="form-text">Введите свою фамилию</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-floating">
                                    <label for="floatingPassword">Должность</label>
                                    <input type="name" class="form-control" id="nameId" placeholder="Должность*"
                                        required>
                                    <div id="emailHelp" class="form-text">Введите свою должность</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-floating">
                                    <label for="number">Телефон*</label>
                                    <input type="text" class="form-control " id="numberId1" placeholder="Телефон*">
                                    <div id="numberId" class="form-text">Введите номер телефона</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-floating">
                                    <label for="floatingPassword">E-mail</label>
                                    <input type="email" class="form-control" id="nameId" placeholder="E-mail*" required>
                                    <div id="emailHelp" class="form-text">Введите адрес электронной почты</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-floating">
                                    <label for="floatingPassword">Компания</label>
                                    <input type="name" class="form-control" id="nameId" placeholder="Компания*"
                                        required>
                                    <div id="emailHelp" class="form-text">Введите название вашей компании</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-floating">
                                    <label for="floatingPassword">Страна</label>
                                    <input type="name" class="form-control" id="nameId" placeholder="Страна*" required>
                                    <div id="emailHelp" class="form-text">Укажите ваш регион</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-floating">
                                    <label for="floatingPassword">Интересующее решение</label>
                                    <input type="name" class="form-control" id="nameId"
                                        placeholder="Интересующее решение*" required>
                                    <div id="emailHelp" class="form-text">Введите название интересующей вас позиции
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12">
                                <button class="btn" data-toggle="modal" data-target="#success_tic">Оставить заявку <span><img src="img/arrow-white.svg" alt=""></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Modal footer -->
            </div>
        </div>
    </div>
    <div id="success_tic" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <a class="close" href="#" data-dismiss="modal">&times;</a>
                <div class="page-body">
                    <div class="head">
                        <h3 style="margin-top:5px;">Lorem ipsum dolor sit amet</h3>
                        <h4>Lorem ipsum dolor sit amet</h4>
                    </div>
                    <h1 style="text-align:center;">
                        <div class="checkmark-circle">
                            <div class="background"></div>
                            <div class="checkmark draw"></div>
                        </div>
                    </h1>
                </div>
            </div>
        </div>
    </div>




</footer>






<script>
    
    


    const labels = document.querySelectorAll(".accordion-item__label");
    const tabs = document.querySelectorAll(".accordion-tab");

    function toggleShow() {
        const target = this;
        const item = target.classList.contains("accordion-tab") ?
            target :
            target.parentElement;
        const group = item.dataset.actabGroup;
        const id = item.dataset.actabId;

        tabs.forEach(function (tab) {
            if (tab.dataset.actabGroup === group) {
                if (tab.dataset.actabId === id) {
                    tab.classList.add("accordion-active");
                } else {
                    tab.classList.remove("accordion-active");
                }
            }

        });
        labels.forEach(function (label) {
            const tabItem = label.parentElement;

            if (tabItem.dataset.actabGroup === group) {
                if (tabItem.dataset.actabId === id) {
                    tabItem.classList.add("accordion-active");
                } else {
                    tabItem.classList.remove("accordion-active");
                }
            }
        });
    }
    labels.forEach(function (label) {
        label.addEventListener("click", toggleShow);
    });

    tabs.forEach(function (tab) {
        tab.addEventListener("click", toggleShow);
    });

</script>



























<script src="../libs/wowjs/wow.min.js"></script>
<script src="../libs/swiper/swiper-bundle.min.js"></script>
<script src="../libs/popper/popper.min.js"></script>
<script src="../libs/jquery/jquery.min.js"></script>
<script src="../libs/jquery.maskedinput/jquery.maskedinput.min.js"></script>
<script src="../libs/fontawesome/js/all.js"></script>
<script src="../libs/fancybox/jquery.fancybox.min.js"></script>
<script src="../libs/bootstrap/js/bootstrap.min.js"></script>
<script src="../libs/owl-carousel/owl.carousel.min.js"></script>
<script src="../libs/jqvmap/jquery.vmap.js"></script>
<script src="../libs/jqvmap/jquery.vmap.asia.js"></script>
<script src="js/main.min.js"></script>