<header>
    <div class="header">
        <div class="container">
            <div class="header-nav">
                <div class="logo">
                    <a href="index.html"><img src="img/Abris logo2.svg" alt="brand"></a>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="index.html">Главная</a>
                        </li>
                        <li class="nav-link">
                            <a class="active" href="about_us.html">О компании</a>
                            <div class="nav-link-item">
                                <a href="about_us.html">Профайл компании</a>
                                <a href="trade.html">Торговые требования</a>
                                <a href="vacancies.html">Вакансии</a>
                                <a href="news.html">Новости</a>
                            </div>
                        </li>
                        <li class="nav-link">
                            <a href="#">Продукция</a>
                            <div class="nav-link-item">
                                <a href="product-first.html">Производители</a>
                                <a href="product-two.html">Авторизация по регионам</a>
                                <a href="product-three.html">Сервисное обслуживание</a>
                            </div>
                        </li>
                        <li>
                            <a href="pro-solution.html">Продукты и решения</a>
                        </li>
                        <li>
                            <a href="news.html">Новости</a>
                        </li>
                        <li>
                            <a href="contact.html">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="nav-icon1" style="margin-right: 16px;">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>
<div class="hamburger-menu">
    <div class="container">
        <div class="bar-menu">
            <nav>
                <ul>
                    <li>
                        <a href="index.html">Главная</a>
                    </li>
                    <li>
                        <a href="about_us.html">О компании</a>
                    </li>
                    <li>
                        <a href="trade.html">Торговые требования</a>
                    </li>
                    <li>
                        <a href="vacancies.html">Вакансии</a>
                    </li>
                    <li>
                        <a href="product-first.html">Продукция</a>
                    </li>
                    <li>
                        <a href="product-two.html">Авторизация по регионам</a>
                    </li>
                    <li>
                        <a href="product-three.html">Сервисное обслуживание</a>
                    </li>
                    <li>
                        <a href="pro-solution.html">Продукты и решения</a>
                    </li>
                    <li>
                        <a href="news.html">Новости</a>
                    </li>
                    <li>
                        <a href="contact.html">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


