.my-company-map{
    .container {
        margin: 0 auto;
      }
      path {fill: lightgray; stroke: white;}
      path:hover {fill: gray;}
      svg{
          width: 100%;
        #countries{
            width: 1000px !important;
            height: 500px !important;
        }
      }
    // .map{
    //     .kz{
    //         text-align: center;
    //         img{
    //             width: 300px;
    //             height: 300px;
    //             object-fit: contain;
    //         }
    //     }
    // }
}